## 原版配置参考：https://mellow.klipper.cn/#/board/fly_rht36_42/cfg
## 这个配置文件是我自用的，稍微修改了一些pin的定义，原版的定义在最低可以找到
## 如果想改回去的话可以去自己对着改就可以了
## RHT36设置 FLY-RHT36与RHT42除了外形不同外，接口配置完全一致
## MCU: RPI RP2040
## 通信: USB
## 驱动: TMC2209*1
## 体积压缩到极致，RHT36甚至采用了6层板设计
## 板载一个TMC2209驱动，可用于挤出机
## 支持PT100(MAX31865)
## 接口：可控风扇2，RGB2，限位2，Probe1，Servo1，加热管1，热敏1，PT1001
## 使用方法可以在printer文件里面添加货修改相应的配置
## 或者可以在printer文件里面添加[include FLY-RHT36.cfg]已加载这个文件启用
## 如果是启用这个文件的话就要去printr文件里面#掉相应的配置

[mcu rht36]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66138935F6B1129-if00

#####################################################################
#   RHT36温度显示
#####################################################################

[temperature_sensor FLY-RHT36]
sensor_type: temperature_mcu
sensor_mcu: rht36

#####################################################################
#   冷却风扇
#####################################################################

## FAN0  喉管风扇
[heater_fan hotend_fan]
pin: rht36:gpio25
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

## FAN1  吹料风扇
#[fan_generic fan]
#pin: rht36:gpio24
#max_power: 1.0
#kick_start_time: 0.5
#off_below: 0.10

#####################################################################
#   X限位设置
#####################################################################

## X限位设置
[stepper_x]
endstop_pin: rht36:gpio19
## RHT板有gpio18,gpio19两个限位引脚可用，按照实际接线修改配置
## gpio18引脚默认支持高压输入，可用于12/24v的接近传感器等。可通过跳线帽配置gpio18为普通限位引脚

#####################################################################
#   挤出机
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: rht36:gpio10
dir_pin: !rht36:gpio9
enable_pin: !rht36:gpio7
rotation_distance: 22.4  #22.6789511	#Bondtech 5mm Drive Gears
gear_ratio: 50:10				
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: rht36:gpio23
sensor_pin: rht36:gpio26
sensor_type: ATC Semitec 104GT-2
min_temp: 10
max_temp: 310
max_power: 0.6
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#pressure_advance: 0.03
#pressure_advance_smooth_time: 0.040

[tmc2208 extruder]
uart_pin: rht36:gpio8
interpolate: false
run_current: 0.5
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#	RGB灯条
#####################################################################

#[neopixel my_neopixel]
#pin: rht36:gpio15
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

#####################################################################
#	ADXL345加速度计
#####################################################################

[adxl345]
cs_pin: rht36:gpio6
spi_software_sclk_pin: rht36:gpio2
spi_software_mosi_pin: rht36:gpio3
spi_software_miso_pin: rht36:gpio4

#####################################################################
#	探针
#####################################################################

[probe]
pin: ^rht36:gpio18
x_offset: 0
y_offset: 19.75
z_offset: 7.45     #6.25
speed: 7
samples: 3
samples_result: median
sample_retract_dist: 0.5
samples_tolerance: 0.05
samples_tolerance_retries: 3

#####################################################################
#	BLTOUCH
#####################################################################

#[bltouch]
#sensor_pin: ^rht36:gpio27
#control_pin: rht36:gpio21
#x_offset: -26.1
#y_offset: -15.3
#z_offset: 2.1

#####################################################################
#	PT100设置
#####################################################################

#[temperature_sensor PT100]
#sensor_type: MAX31865
#sensor_pin: rht36:gpio5
#spi_software_sclk_pin: rht36:gpio2
#spi_software_mosi_pin: rht36:gpio3
#spi_software_miso_pin: rht36:gpio4
#min_temp: -50
#max_temp: 350
#rtd_reference_r: 430


#####################################################################
#	全部引脚
#####################################################################

# 驱动	    	引脚号
# E   	        EN	    gpio7
# E   	        STEP	gpio10
# E	            DIR	    gpio9
# E	            UART	gpio8
# 限位1                 gpio18
# 限位2                 gpio19
# 挤出加热              gpio23
# 挤出温度              gpio26
# 舵机                  gpio21
# 探针                  gpio27
# 风扇0                 gpio25
# 风扇1                 gpio24
# RGB1                  gpio15
# MISO                  gpio4
# MOSI                  gpio3
# CLK                   gpio2
# ADXL345-CS            gpio6
# MAX31865-CS           gpio5